extends ../layouts/home.jade


block content
	h1 New page
	form(method="post" action="/home")
		input(type="text" name="nom" placeholder="votre nom")
		input(type="text" name="prenom" placeholder="votre prénom")
		input(type="submit" value="envoyer")